.welcome-heading {
    color: #F9F9F9;
    font-size: 40px;
    font-family: 'Potta One', cursive;
    font-weight: 900;
}

.moods {
    color: #E50914;
}

.login-btn {
    background-color: #E50914 !important;
    color: black !important;
    padding: 20px;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}

.login-btn:hover {
    background-color: #b32f36 !important;
}
