body {
    background-color: #0E0E0E;
}

.welcome-heading {
    color: #F9F9F9;
    font-size: 50px;
    font-family: 'Potta One', cursive;

}

.moods {
    color: #E50914;
}

.login-btn {
    background-color: #E50914 !important;
    color: #F9F9F9 !important;
}

.login-link:hover {
    text-decoration: none;
}

.container {
    margin-top: 200px;
}