/* Large Screen Devices */
@media screen and (min-width: 1025px) {

  .home-btn {
    background-color: #3838ff !important;
    color: white !important;
  }
  
  .home-btn:hover {
    background-color: blue !important;
    transition: all .2s ease-in-out !important;
  }
  
  .search-btn {
    background-color: #e3403a !important;
  }
  
  .search-btn:hover {
    background-color: #ff000d !important;
    transition: all .2s ease-in-out !important;
  }
  
  .home-link, .search-link {
    text-decoration: none ;
  }

  .home-icon, .search-icon {
    color: rgb(175, 175, 206);
  }
  
  .home-icon:hover, .search-icon:hover {
    color: white;
    transition: all .2s ease-in-out;
  }
  
  .nav-btns-wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    justify-items: baseline;
    padding-top: 15px;
  } 
}

/* Small Desktop Devices */
 @media screen and (min-width: 769px) and (max-width: 1024px) {
  .home-btn {
    background-color: #3838ff !important;
    color: white !important;
  }
  
  .home-btn:hover {
    background-color: blue !important;
    transition: all .2s ease-in-out !important;
  }
  
  .search-btn {
    background-color: #e3403a !important;
  }
  
  .search-btn:hover {
    background-color: #ff000d !important;
    transition: all .2s ease-in-out !important;
  }
  
  .home-link, .search-link {
    text-decoration: none ;
  }
  
  .home-icon:hover, .search-icon:hover {
    color: rgb(196, 196, 218);
    transition: all .2s ease-in-out;
  }
  
  .nav-btns-wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    justify-items: center;
    padding-top: 15px;
  }
}

/* Tablet Devices */
@media screen and (min-width: 425px) and (max-width: 768px) {
  .nav-btns-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-items: center;
  }

  .search-btn {
    background-color: #e3403a !important;
    margin-top: 4%;
  }

  .search-btn:hover {
    background-color: #ff000d !important;
    transition: all .2s ease-in-out !important;
  }

  .home-btn {
    background-color: #3838ff !important;
    color: white !important;
    margin-top: 4%;
  }
  
  .home-btn:hover {
    background-color: blue !important;
    transition: all .2s ease-in-out !important;
  }
}

/* Mobile Devices */
 @media screen and (min-width: 375px) and (max-width: 424px) {
  .nav-btns-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  .search-btn {
    background-color: #e3403a !important;
    font-size: 14px !important;
  }

  .search-btn:hover {
    background-color: #ff000d !important;
    transition: all .2s ease-in-out !important;
  }

  .home-btn {
    background-color: #3838ff !important;
    color: white !important;
    font-size: 14px !important;
  }
  
  .home-btn:hover {
    background-color: blue !important;
    transition: all .2s ease-in-out !important;
  }

  .home-icon:hover, .search-icon:hover {
    color: rgb(196, 196, 218);
    transition: all .2s ease-in-out;
  }
}

/* Very Small Mobile Devices */
@media screen and (max-width: 374px) {
  .nav-btns-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  .search-btn {
    font-size: 14px !important;
    background-color: #e3403a !important;
  }

  .search-btn:hover {
    background-color: #ff000d !important;
    transition: all .2s ease-in-out !important;
  }

  .home-btn {
    font-size: 14px !important;
    background-color: #3838ff !important;
    color: white !important;
  }
  
  .home-btn:hover {
    background-color: blue !important;
    transition: all .2s ease-in-out !important;
  }

  .home-icon:hover, .search-icon:hover {
    color: rgb(196, 196, 218);
    transition: all .2s ease-in-out;
  }
}