@media screen and (min-width: 940px) {
  .sidebar-btn {
    margin: 20px 120px 45px 20px;
  }
  
  .home-btn {
    background-color: #3838ff !important;
    color: white !important;
    margin: 0 0 29px 5px;
  }
  
  .home-btn:hover {
    background-color: blue !important;
    transition: all .5s ease-in-out !important;
  }
  
  .search-btn {
    background-color: #e3403a !important;
    margin: 0 0 29px 5px;
  }
  
  .search-btn:hover {
    background-color: #ff000d !important;
    transition: all .5s ease-in-out !important;
  }
  
  .home-link, .search-link {
    text-decoration: none ;
  }
  
  .home-icon, .search-icon {
    height: 25px;
    margin: 0 6px 13px 0;
    color: white;
  }
  
  .home-icon:hover, .search-icon:hover {
    color: rgb(196, 196, 218);
    transition: all .5s ease-in-out;
  }
  
  .nav-btns-wrapper {
    position: fixed;
  }
}

/* Smaller Devices */
@media screen and (max-width: 939px) {
  
}