.searchResults-container {
display: grid;
gap: 1rem;
}

.artist {
background-color: #141414;
}

.albums {
display: grid;
grid-template-columns: auto;
background-color: #141414;
}

.playlists {
display: grid;
grid-template-columns: auto;
background-color: #141414;
}

.tracks {
display: grid;
grid-template-columns: auto;
background-color: #141414;
justify-items: baseline;
padding-bottom: 10%;
}