/* Layout for Large Devices */
@media screen and (min-width: 1025px) {
    .App {
      display: grid;
      grid-template-columns: 10vw 90vw;
      grid-template-rows: 85vh 10vh 5vh;
      grid-template-areas: 
      "navbar main"
      "navbar widget"
      "navbar footer"
      ;
    }
  
    .sidenav {
      grid-area: navbar;
      background-color: black;
    }
  
    .main {
      grid-area: main;
      overflow: auto;
      background-color: #141414;
    }
  
    .main::-webkit-scrollbar {
      width: 1em;
    }
    
    .main::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    
    .main::-webkit-scrollbar-thumb {
      background-color: #4a4a4a;
      outline: 1px solid #575757;
    }
  
    .widget {
      grid-area: widget;
      width: 90vw;
      height: 10vh;
    }
  
    .footer {
      grid-area: footer;
      text-align: center;
      font-size: 12px;
      font-weight: 100;
      color: white;
    }
  }